html,
body {

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}
button{
    border: none;
}
.display_none {
    display: none;
}

.display_block {
    display: inline-block;
}
.field-error{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 15px;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-image-s{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.fit-content{
    width: fit-content;
}
.pagination-container{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}